<style>
    *{    
        box-sizing: border-box;
    }
    @media (max-width:500px) {
        
    }

    html {
        font-family: arial, sans-serif;
        background-image: linear-gradient(#003973 , #E5E5BE);
        background-size: cover;
        color: white;
    }

    #Notice {
        position: fixed;
        filter: opacity(80%);
        top: 0;
        width: 100%;
        background-color: aquamarine;
        font-size: 15px;
    }
    img{
        vertical-align: middle;
    }
    #N_img {padding-left: 8px;}

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: -webkit- sticky; /* Safari */
        position: sticky;
        top: 30px;
        background-color: #bdc3c7;
    }
    ul {   /*  nav의 리스트 스타일 */
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0px;
        margin: 0px;

    }
    li {display: inline;}

    .main-menu li ul {
        background: aquamarine;
        display: none;    /* 평상시에는 서브메뉴가 안보이게 하기 */
        padding: 8px;
        margin: 0px;
        border: 0px;
        position: absolute;
             
    }
    iframe { 
        width :100%;
        height: 100%;

    }    

    .main-menu li:hover ul {
        display: block;  /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
    }

    #moveTop {
        position: fixed;
        filter: opacity(80%);
        right: 20px;
        bottom: 20px;
        width: 50px;
        height: 50px;
        
    }
    main {
        display: flex;
        flex-direction: column;
        padding: 20px;
        text-align: justify;
    }


    a {
        color: white;
        text-decoration: none;
        padding-left: 8px;
        padding-right: 8px;
        vertical-align: middle
    }

    a:hover {
        padding: 0px;
        margin: 0px;
        color: hotpink;
        border-bottom: 2px solid hotpink;
        
    }

    .contents {
        color: #003366;
    }


    #main-top {
            text-decoration: none;
            text-align: center;
            /*border-bottom: 1px solid #bdc3c7;*/
            margin: 0px;
            padding: 80px;
    }

    #login-tip {
            font-size: 1.5rem;
            font-family: arial, sans-serif;
    }
    
    footer {
        border-top:1px solid gray;
        padding: 20px;
        text-align: center;
    }
</style>