<style>
    #main-top {
        font-size: 45px;
        text-decoration: none;
        text-align: center;
        border-bottom: 1px solid gray;
        margin: 0px;
        padding: 20px;
    }
    ul {
        border-right: 1px solid grey;
        width: 100px;
        margin: 0px;
        padding: 20px;
    }
    a {
        color: black;
        text-decoration: none;
    }
    #grid {
      display: grid;
      grid-template-columns: 150px 1fr;
          }
    #footer {
        border-top: 1px solid grey;
    }


    #main-menu > a {
        padding-right: 20px;
    }
    #main-menu {
        border-bottom: 1px solid gray;

      }
</style>
